.Unsplashed-Gallery {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Unsplashed-Gallery-Image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  position: absolute;
  width: 100%;
}

.Unsplashed-Loading-Bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Unsplashed-Loading-Bar-Item {
  float: left;
  background-color: #EAEAEA;
  height: 15px;
  width: 1%;
  border: solid 1px transparent;
  box-sizing: border-box;
}
